<ion-content padding class="primary-font">
    <form padding [formGroup]="loginForm" (submit)="login()" novalidate>
        <div class="login">
            <button ion-button clear class="btnLogin">Login</button>
            <button ion-button clear class="btnCadastro" (click)="irCadastro()">Cadastrar</button>
        </div>     
      <ion-item>
        <ion-input [(ngModel)]="email"
                   formControlName="email"
                   type="text"
                   placeholder="E-mail"
                   clearInput clearOnEdit="false">
        </ion-input>
      </ion-item>
      <h6 *ngIf="errorEmail" class="error"> {{messageEmail}}</h6>
      <ion-item>
        <ion-input [(ngModel)]="password"
                   formControlName="password"
                   type="password"
                   placeholder="Senha"
                   clearInput clearOnEdit="false">
        </ion-input>
      </ion-item>
      <h6 *ngIf="errorPassword" class="error"> {{messagePassword}}</h6>
      <button ion-button block outline color="secondary" class="login-button">Login</button>
    </form>
    <div id="cadastro">
        <div class="cadastro2">
            <button ion-button clear (click)="irLogin()">Login</button>
            <button ion-button clear class="btnCadastro2">Cadastrar</button>
        </div>
        
        <div class="cadastro">
            <form>
                <ion-item>
                    <ion-label>Nome</ion-label>
                    <ion-input [(ngModel)]="pessoa.nome" name="nome"></ion-input>
                </ion-item>
                  <ion-item>
                    <ion-label>Cpf</ion-label>
                    <ion-input [(ngModel)]="pessoa.cpf" name="cpf"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label>E-mail</ion-label>
                    <ion-input [(ngModel)]="pessoa.email" name="email"></ion-input>
                  </ion-item>
                <ion-item>
                    <ion-label>Telefone</ion-label>
                    <ion-input [(ngModel)]="pessoa.telefone" name="telefone"></ion-input>
                </ion-item>
                <button ion-button class="btnEntrar" (click)="avancar()">Avançar</button>
            </form>
        </div> 
    </div>
    
  </ion-content>